.App {
  text-align: center;
}

.Social-media {
  height: 30px;
  width: 30px;
  margin: 0px;
} 

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Oxygen Mono', monospace;
}

.App-link {
  color: #61dafb;
  padding-bottom: 10px;
}

.Description{
  font-size: 20px;
}

.col.left{
  padding-left: 25px;
  padding-right: 0px;
}

.col.right{
  padding-left: 0px;
  padding-right: 25px;
}

#main-table{
  font-size: 15px;
  vertical-align: middle
}

.footer{
  position:absolute;
  left:0;
  bottom:10px;
  right:0;
  font-size: 10px;
}

.container-width-override{
  max-width:450px;
}