.body {
  min-width: 667px;
}  

.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Oxygen Mono', monospace;
}

.container-default-override{
  max-width:625px;
  margin-bottom: 15 px;
}
.App-link {
  color: #61dafb;
  padding-bottom: 5px;
}

.icon-small {
  height: 30px;
  width: 30px;
  align-items: center;
  margin-top:11px;
  margin-bottom: 15px;
} 

.icon-big {
  height: 37px;
  width: 37px;
  margin: 0px;
} 

.iconLabel{
  font-size: 11px;
  color: #6c757d!important;
  padding-top: 5px;
  margin-bottom: 0px;
}
.col.left{
  padding-left: 25px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.col.right{
  padding-left: 0px;
  padding-right: 25px;
  margin-bottom: 0px;
}

.main-table{
  font-size: 12px;
  vertical-align: middle;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-bottom: 40px;
}

.icon-cats{
  height: 25px;
}

.footer{
  position:absolute;
  left:0;
  bottom:10px;
  right:0;
  font-size: 14px;
}

#self-portrait{
  height: 100px;
  border-radius: 15px;
  margin-left: 16px;
}

#page-header {
  font-size: 16px;
  margin-top: 5%;
}

#page-body {
  font-size: 12px;
  color: #6c757d!important;
  text-align: left;
  margin-left: 22px;
  margin-right: 22px;
}

#aboutme-header {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

#aboutme-body {
  font-size: 12px;
  color: #6c757d!important;
  text-align: left;
  margin-right: 16px;
}

@media screen and (max-width: 460px) {
  .col.left{
    padding-left: 5px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  .col.right{
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: 0px;
  } 

  #self-portrait{
    height: 80px;
    border-radius: 15px;
    margin-left: 0px;
  }
}